<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/home">Mona</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
    <div class="collapse navbar-collapse" id="nav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/who">Wer bin ich</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/whoo">Wen mag ich</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/here">Da wohne ich</a>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>